# IntelliJ IDEA
.idea/

# Java / Maven
target/
*.iml
*.log

# macOS
.DS_Store

# Terraform
*.tfvars
*.lock.hcl
.terraform/
iac/data/

# Node / Next.js (en cualquier subcarpeta)
*/.next/
*/node_modules/
package-lock.json

# Entornos
.env
.env.local
